body{
    font-family: 'Poppins', sans-serif;
}
.top-part{
  display: flex; 
  margin: 50px;
 
}

h1{
    font-size:40px ;
}

.first-half{
    font-size: 30px;
    width: 50%;
    padding-left: 5%;
}
.first-half-id{
    width: 50%;
   
}
.orange-color{
    color: orange;
}
.link-button{
    background-image: linear-gradient(orange,lightsalmon);
    font-size: 25px;
    padding: 2% 5%;
    color:black;
    border-radius: 20px;
    text-decoration: none;
}
.middle-part{
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
   
    
}  
.second-img{

   
    width: 50%;
}
.middle-img{
    width: 58%;
    padding: 7%;
    margin-left: 50px;
}
.second-half{
    width: 50%;
    margin-right: 50px;
    padding: 3%;
    
}
.header{
    font-family: 'Roboto Condensed', sans-serif;
    color: silver;
}
.peragraph{
   font-size: 25px;

}

.contact{
    background-image: linear-gradient(orange,lightsalmon);
    font-size: 25px;
    padding: 3% 5%;
    color:black;
    border-radius: 20px;
    text-decoration: none;
}
.recipies{
    display: flex;
    margin: 50px;
}
.menu{
    border: 10px solid white;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px  lightslategrey;
    
}
.menu-img{
    width: 100%;
   border-radius: 15px;
}
.follower-part{
    display: flex;
    padding: 30px;
    margin: 50px;
    border: 10px solid white;
    border-radius: 30px;
    box-shadow: 10px 10px 40px  lightslategrey;
   
}   
.follower{
    text-align: center;
    margin: auto;
    font-size:30x;
} 
.footer{
    text-align: center;
    color:white;
    background-color: black;
    padding: 4%;
    
}

 



    
